# Kickstart file

install
nfs --server=sp3.cs.ucdavis.edu --dir=/F4
bootloader --location=mbr
#Clear the Master Boot Record
zerombr yes
#Partition clearing information
clearpart --all --initlabel 
#Disk partitioning information
part /boot --fstype ext3 --size 50 
part swap --size 1024 
part / --fstype ext3 --size 3000 --grow
lang en_US.UTF-8
langsupport --default=en_US.UTF-8 en_US.UTF-8 en_US en en_US.UTF-8 en_US en
keyboard us
network --device eth0 --bootproto dhcp
#added new password
rootpw --iscrypted $1$5EqKBSAB$jUXK0B4vMavun3A1GYWzg1
# OLD  rootpw --iscrypted $1$JJr9Oivb$yVY//2IxvmcNm3vGFpJ4Q/
firewall --enabled --port=22:tcp
#selinux --enforcing
authconfig --enableshadow --enablemd5
timezone --utc America/Los_Angeles
#added xconfig line
#xconfig  --defaultdesktop=KDE --startxonboot
xconfig --startxonboot
%packages
#@ office
@ editors
@ gnome-desktop
#@ dialup
@ java
@ base-x
@ graphical-internet

%post
